.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background: #febe56;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15);
}


.logo img {
  width: 140px;
  cursor: pointer;
}


.menu {
  display: flex;
  gap: 60px;
  font-size: 20px;
}


.menu a {
  color: #2e3f12;
  text-decoration: none;
  position: relative;
  padding-bottom: 5px;
  transition: 0.3s;
}


.menu a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 3px;
  background: #2e3f12;
  transition: width 0.3s ease;
}

.menu a:hover::after {
  width: 100%;
}

.menu a:hover {
  color: white;
}


.hamburguesa {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: #2e3f12;
}


.tel-menu {
  display: none;
}

@media (max-width: 900px) {
  .menu {
    display: none; 
  }

  .hamburguesa {
    display: block;
  }

  .tel-menu {
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    background: #febe56;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    gap: 20px;
    text-align: center;
    transform: translateY(-400px);
    opacity: 0;
    transition: 0.4s ease;
  }

  .tel-menu a {
    color: #2e3f12;
    font-size: 22px;
    text-decoration: none;
  }

  .tel-menu.open {
    transform: translateY(0);
    opacity: 1;
  }
}